body {
    background-color: rgb(105, 105, 103);
    text-align: center;
}
h1{
    color: rgb(255, 196, 0);
    text-align: center;
}
h2{
    color: rgb(255, 187, 0);
    text-align: center;
}
h3{
    color: rgb(255, 174, 0);
    text-align: center;
}
.odstavec{
    padding: 55px;
    border-top:solid 1px gray;
    border-bottom: solid 1px gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: gray;
}

